<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">      
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Nuestros libros</h1>
            <p>Base de datos de libros</p>
          </div>
          <div class="col-md-6">
            <img src = "img/libros.jpg" width="70%">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Ver listado de libros</h2>
          <p>Listado por tema, nombre o autor </p><br>
          <p><a class="btn btn-success" href="#listar" role="button">Busqueda</a></p>
        </div>
        <div class="col-md-6">
          <h2>Administración de libros</h2>
          <p>Añadir, eliminar y actualizar libros </p><br>
          <p><a class="btn btn-success" href="#administrar" role="button">Administrar</a></p>
       </div>
        
      </div>

      <hr>

      <footer>
        <p>&copy; Ignacio Martín Portillo 2015</p>
      </footer>